@import './reset.css';
:root {
    --color-dark:rgb(82, 82, 160);
    --color-light: rgb(192, 192, 241);
    --color-complementary-dark: rgb(110, 121, 61);
    --color-complementary-light: rgb(205, 212, 130);
    --color-background:  rgb(188, 201, 232);
    --color-left: rgb(53, 27, 27);
    --color-paper: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.6rem;
    border-bottom: 2px solid var(--color-light);
    justify-self: stretch
}
/* 
*:focus{
    border: none;
} */


.App{
    background-color:var(--color-background);
    display: grid;
    grid-template-rows: auto 1fr 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-height: 100vh;
}

#cv {
    display: grid;
    background-color: var(--color-paper);
    min-height: 800px;
    width: 800px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 170px 1fr 1fr;
    grid-template-areas: 
                        "picture name"
                        "general education"
                        "skills experience";
    align-items: stretch;
    position: relative;
}

#cv #picture{
    grid-area: picture;
    background-color: var(--color-left);
    display: flex;
    align-items: center;
    justify-content: center;
}

#cv img{
    border: 1px solid white;
    border-radius: 1rem;
    height: 150px;
    width: 150px;
}


#cv #name {
    grid-area: name;    
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color-dark);
    color: white;
}

#name p:first-child{
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

#name p{
    font-size: 1.3rem;
    font-style: italic;
}

#general{
    grid-area: general;
}

#education{
    grid-area: education;
}
#experience{
    grid-area: experience;
}

#skills{
    grid-area: skills;
}
#general,
#skills{
    background-color: var(--color-left);
    color: white
}

#cv > div {
    padding: 20px;
    display: grid;
    align-items: start;
    align-content: start;
    position: relative;
}

#cv div,
form{
    display: grid;
    position: relative;
    gap: 20px;
    /* align-content: stretch; */
}

#education form,
#experience form{
   display: grid; 
   grid-template-columns: repeat(2, 1fr);

}

#cv .field{
    display: grid;
    grid-template-columns: 82px 1fr;
    justify-content: space-around;
    gap: 0px;
}

#general .field,
#skills .field{
    display: grid;
    grid-template-columns: 65px 1fr;
    justify-content: space-around;
    gap: 0px;
}

#cv .field input{
    justify-self: start;
    width: 75%;
    border-radius: 0.5rem;
    padding: 3px 0px 3px 7px;
    border: none;
    background-color: rgb(227, 222, 222);
    font-size: 0.9rem;
    color: var(--color-dark)
}

input:focus{
    outline: 2px solid var(--color-complementary-dark);
}
#cv .field input:hover{
    outline: 2px solid var(--color-complementary-light);
    cursor: pointer;
}

.display{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 10px;
    height: 100%;
}

.invalid:not(:focus){
    box-shadow: 0px 0px 2px 2px red;
}
#upload{
    overflow: hidden;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

button,
input[type="submit"],
#upload ~ label{
    border-radius: 0.8rem;
    border: none;
    box-shadow: 2px 3px 3px var(--color-complementary-light);
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
    background-color: rgb(246, 246, 246); 
    color: black;
    padding: 2px 5px 2px 5px;
    position: absolute;
    bottom: -21px;
    right: -13px;
    font-size: 0.8rem;
    opacity: 0;
}

button:active,
input[type="submit"]:active{
    bottom: -23px;
}


#upload ~ label,
#export-button{
    bottom: 10px;
    right: 10px;
}

#upload ~ label:active,
#export-button:active{
    bottom: 8px;
}

div:hover > button,
form:hover > input[type="submit"],
div:hover > #upload ~ label{
    opacity: 1;
}


form:hover,
img:hover{
    animation: shake 0.5s;
}




.addButton{
    position: relative;
    width: 30px;
    left: 50%;
    bottom: 10px

}

.addButton:active{
    position: relative;
    bottom: 8px
}

.edit-button{
    right: 58px;
}

button:hover,
#upload ~ label:hover,
input[type="submit"]:hover{
    background-color: var(--color-complementary-dark);
    color: white;
    cursor:pointer;
}


.title {
    font-size: 1.6rem;
    font-weight: bold;
}


#cv .right-side-field{
    display: flex;
    padding: 5px;
    align-items: center;
    gap:  45px;
    padding-left: 20px;
}

.right-side-field > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
}

.left-side-field::before,
.right-side-field::before,
#general p::before,
#skills  p::before{
    content: '- ';
    font-size: 1.3rem;
}

.input-field{
    position: relative;
}

.position,
.degree {
    color: var(--color-complementary-dark);
    font-weight: bold;
}

.city {
    color: grey;
    font-size: 0.8rem;
}

.university,
.company {
    font-weight: bold;
}

/* * {
    outline: 1px dashed red;
} */

@keyframes shake {
    0% { transform: translate(0px, 0px) }
    30% { transform: translate(-2px, 0px); }
    60% { transform: translate(2px, 0px); }
    100% { transform: translate(0px, 0px) }
  }