@import './reset.css';
:root {
    --color-dark:rgb(22, 22, 161);
    --color-light: rgb(122, 122, 225);
    --color-complementary-dark: rgb(151, 81, 6);
    --color-complementary-light: rgb(220, 143, 80);
    --color-background:  rgb(225, 233, 252);
    --color-left: rgb(24, 20, 20);
    --color-paper: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.6rem;
    border-bottom: 2px solid var(--color-light);
    justify-self: stretch
}


.App{
    background-color:var(--color-background);
    display: grid;
    grid-template-rows: 120px 1fr 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-height: 100vh;
}

#cv {
    align-self: start;
    display: grid;
    background-color: var(--color-paper);
    min-height: 600px;
    width: 800px;
    grid-template-columns: 0.8fr 2fr;
    grid-template-rows: 150px 1fr 1fr;
    grid-template-areas: 
                        "picture name"
                        "general education"
                        "skills experience";
    align-items: stretch;
    position: relative;
}

#cv #picture{
    grid-area: picture;
    background-color: var(--color-left);
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    border-radius: 1rem;
    max-height: 150px;
    max-width: 150px;
}


#cv #name {
    grid-area: name;    
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color-dark);
    color: white;
}

#name p:first-child{
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#name p{
    font-size: 1.5rem;
    font-style: italic;
}

#general{
    grid-area: general;
}

#education{
    grid-area: education;
}
#experience{
    grid-area: experience;
}

#skills{
    grid-area: skills;
}
#general,
#skills{
    background-color: var(--color-left);
    color: white
}

#cv > div {
    padding: 20px;
    display: grid;
    align-items: start;
    align-content: start;
    position: relative;
}

#cv div,
form{
    display: grid;
    position: relative;
    gap: 20px;
    /* align-content: stretch; */
}

#education form,
#experience form{
   display: grid; 
   grid-template-columns: repeat(2, 1fr);

}

#cv .field{
    display: grid;
    grid-template-columns: 75px 1fr;
    justify-content: space-around;
    gap: 0px;
}

#cv .field input{
    justify-self: start;
    width: 75%;
}

.display{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 10px;
    height: 100%;
}


#upload{
    overflow: hidden;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

button,
input[type="submit"],
#upload ~ label{
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
    background-color: var(--color-complementary-dark);
    color: white;
    padding: 2px 5px 2px 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 0.8rem;
    opacity: 0;
}

div:hover > button,
form:hover > input[type="submit"],
div:hover > #upload ~ label{
    opacity: 1;
}

.addButton{
    position: relative;
    width: 30px;
    left: 50%;
    /* bottom: 10px; */

}

.edit-button{
    right: 58px;
}

button:hover,
#upload ~ label:hover,
input[type="submit"]:hover{
    background-color: var(--color-complementary-light);
    color: black;
    cursor:pointer;
}


.title {
    font-size: 1.6rem;
    font-weight: bold;
}


#cv .right-side-field{
    display: flex;
    padding: 5px;
    align-items: center;
    gap:  45px;
    padding-left: 20px;
}

.right-side-field > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
}

.left-side-field::before,
.right-side-field::before,
#general p::before,
#skills  p::before{
    content: '- ';
    font-size: 1.3rem;
}

.input-field{
    position: relative;
}

.position,
.degree {
    color: var(--color-complementary-dark);
    font-weight: bold;
}

.city {
    color: grey;
    font-size: 0.8rem;
}

.university,
.company {
    font-weight: bold;
}

* {
    outline: 1px dashed red;
}