@import './reset.css';
:root {
    --color-dark:rgb(22, 22, 161);
    --color-light: rgb(122, 122, 225);
    --color-complementary-dark: rgb(151, 81, 6);
    --color-complementary-light: rgb(220, 143, 80);
    --color-background:  rgb(225, 233, 252);
    --color-left: rgb(24, 20, 20);
    --color-paper: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.6rem;
    border-bottom: 2px solid var(--color-dark);
    justify-self: stretch
}


.App{
    background-color:var(--color-background);
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#cv {
    display: grid;
    background-color: var(--color-paper);
    min-height: 600px;
    width: 800px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 180px 1fr 1fr;
    grid-template-areas: 
                        "picture name"
                        "general education"
                        "general experience";
    align-items: stretch;
}

#cv div {
    position: relative;
}


#cv #picture{
    grid-area: picture;
    background-color: var(--color-left);
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    border-radius: 1rem;
    max-height: 150px;
    max-width: 150px;
}

#cv #name {
    grid-area: name;    
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color-dark);
    color: white;
}

#name p:first-child{
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#name p{
    font-size: 1.5rem;
    font-style: italic;
}

#general{
    grid-area: general;
    background-color: var(--color-left);
    color: white
}

#education{
    grid-area: education;
}
#experience{
    grid-area: experience;
}

#cv > div {
    padding: 10px;
    display: grid;
    align-items: start;
    align-content: start;
    position: relative;
    gap: 20px;
}

.display{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#cv button:not(.addButton){
    justify-self: left;
}

#upload{
    overflow: hidden;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

button,
#upload ~ label{
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
    background-color: var(--color-complementary-dark);
    color: white;
    padding: 2px 5px 2px 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

button:hover,
#upload ~ label:hover{
    background-color: var(--color-complementary-light);
    color: black;
    cursor:pointer;
}


.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.field{
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    padding: 3px;
}

.addButton{
    right: 50%;
}

.right-side-field{
    display: flex;
    padding: 5px;
    align-items: center;
    gap:  25px
}

.right-side-field > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
}

.right-side-field::before,
#general > div::before{
    content: '-'
}

.input-field{
    position: relative;
}

.position,
.degree {
    color: var(--color-complementary-dark);
    font-weight: bold;
}

.city {
    color: grey;
    font-size: 0.8rem;
}

.university,
.company {
    font-weight: bold;

}

/* * {
    outline: 1px dashed red;
} */